* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  font-weight: 600;
  line-height: 1.2;
  color: #1a1a1a;
}

p,
a,
li,
span,
label,
input,
button,
textarea {
  font-family:"Segoe UI", sans-serif;
}
